<ion-header *ngIf="titulo">
  <ion-navbar>
    <ion-title>{{titulo}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="titulo">
  <div class="form-group">
    <div class="col-12 text-center" id="map"></div>
    
    <div *ngIf="!puntoMarcar" style=" text-align:center; width:90%; margin: 10px">
      <!-- <h3><b>MesAPP &copy;</b></h3>  -->    
      <!-- <font size="4" color="#67D6FA" face="courier">Distancia: {{distanciaEntrePuntos}} Km.</font> -->
      <h3>Distancia: <span class="badge badge-secondary">{{(distanciaEntrePuntos | number : '1.2-2')+" KM" }}</span></h3>
      <h3>Precio: <span class="badge badge-secondary">{{"$ "+ ((distanciaEntrePuntos *35)| number : '1.2-2')}}</span></h3>
    </div>
  </div>
  <div class="row">
      <div class="col">
        <button *ngIf="puntoMarcar" class="btn btn-medio btn-ok" (click)="aceptarPunto()">Aceptar</button>
      </div>
    </div>
</ion-content>

<!-- Si no se usa como page , mostrar solo div -->
<div class="form-group" *ngIf="!titulo">
  <div class="col-12 text-center" id="map"></div>

  <div *ngIf="!puntoMarcar" style=" text-align:center; width:90%; margin: 10px">
    <!-- <h3><b>MesAPP &copy;</b></h3>  -->    
    <!-- <font size="4" color="#67D6FA" face="courier">Distancia: {{distanciaEntrePuntos}} Km.</font> -->
    <h3>Distancia: <span class="badge badge-secondary">{{(distanciaEntrePuntos | number : '1.2-2')+ " KM" }}</span></h3>
    <h3>Precio: <span class="badge badge-secondary">{{"$ "+ ((distanciaEntrePuntos *35)| number : '1.2-2')}}</span></h3>
  </div>
</div>

