<form>
  <!-- Container element -->
  <div class="parallax" id="parallax1">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="uppercase m-4">¡NOS CASAMOS!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <h4 class="m-4">Y queremos compartirlo con vos.
          Te esperamos el <b>17 de noviembre</b> para que nos acompañes en este gran momento.</h4>
        <h1>Faltan <span id="miFecha"></span> días</h1>
      </div>

      <div class="col-12 text-center mb-5">
        <a href="#info" class="btn btn-outline-secondary mb-5">Ver información</a>
      </div>
    </div>
  </div>

  <!-- informacion -->
  <div class="row" id="info">
    <div class="col-12 col-md-6 text-center mt-3 ">
      <div class="row">
        <div class="col">
          <img src="../assets/icon/rings.svg" width="80px" height="80px" alt="">
          <h5>Civil</h5>
          <p class="m-4 static-height">La ceremonia es el viernes 16 de noviembre a las 9 hs en el registro civil de Longchamps. Sólo
            tenés que tocar el botón para recibir todas las indicaciones.</p>
        </div>
      </div>
      <div class="row">
        <div class="col align-bottom  ">
          <button class="btn btn-outline-success align-bottom">Ver indicaciones</button>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-6 text-center mt-3 ">
      <div class="row">
        <div class="col">
          <img src="../assets/icon/cake.svg" width="80px" height="80px" alt="">
          <h5>Lunch</h5>
          <p class="m-4 static-height">Nos juntamos a picar algo!. Es un momento importante para nosotros y nos gustaría que estés
            ahí
            ... ¡Te esperamos temprano! Sólo tenés que tocar el botón para recibir todas las indicaciones.</p>
        </div>
      </div>
      <div class="row">
        <div class="col  ">
          <button class="btn btn-outline-success">Ver indicaciones</button>
        </div>
      </div>
    </div>
  </div>



  <!-- botones informacion -->
  <!-- <div class="row">
    <div class="col-6 text-center">
      <button class="btn btn-outline-success mt-2">Ver indicaciones</button>
    </div>
    <div class="col-6 text-center">
      <button class="btn btn-outline-success mt-2">Ver indicaciones</button>
    </div>
  </div> -->

  <!-- regalos -->
  <div class="parallax" id="parallax2">
    <div class="row text-center m-5">
      <div class="col-12 text-center mt-5">
        <h1>¿Querés hacernos un regalo?</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mb-5">
        <button type="button" class="btn btn-outline-secondary mb-5">Ver Datos bancarios</button>
      </div>
    </div>
  </div>

  <footer class="parallax" id="parallax3">
    <div class="col-12 text-center mt-5">
      <h1>TE ESPERAMOS!</h1>
      <button type="button" class="btn btn-success btn-lg m-5">Confirmar asistencia</button>
    </div>
  </footer>

</form>