.parallax{
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px !important; 
}

#parallax1 { 
/* The image used */
    background-image: url("../../assets/img/img1.jpg");
   
}

#parallax-confirmar { 
/* The image used */
    background-image: url("../../assets/img/tea_time.jpg");     
    background-size: cover!important;
}

#footer{
    background-image: url("../../assets/img/footer.jpg");
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 150px!important; 
 }
 
#row-margin1{
    margin-top: 150px;
}

h1.uppercase {
    letter-spacing: 17px;
    margin-right: -17px;
}

span,h1,h4,h2{
    color: white;
}

.static-height{
    height: 120px!important;
}
    
.my-btn-info{
 color:white    ;
 /* text-decoration: underline  solid; */
}

