<form>
  <!-- introducción -->
  <div class="parallax" id="parallax1">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="uppercase m-4">¡NOS CASAMOS!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <h4 class="m-4">Y queremos compartirlo con vos.
          Te esperamos el <b>17 de noviembre</b> para que nos acompañes en este gran momento.</h4>
        <h1>Faltan <span id="miFecha"></span> días</h1>
      </div>
    </div>

    <div class="row" id="row-margin1">
      <div class="col-6 text-center">
        <!-- <button class="btn btn-sm btn-outline-dark d-block d-sm-none   my-btn-info ml-4" (click)="goTo('#info')">Ver detalles</button>
        <button class="btn        btn-outline-dark d-none  d-sm-inline my-btn-info" (click)="goTo('#info')">Ver detalles</button> -->
        <button class="btn        btn-outline-dark my-btn-info" (click)="goTo('#info')">Ver detalles</button>
      </div>
      <div class="col-6 text-center">
        <!-- <button  class="btn btn-sm btn-success d-block d-sm-none mr-2" (click)="goTo('#parallax-confirmar')">Evento!</button>
        <button  class="btn        btn-success d-none d-sm-inline" (click)="goTo('#parallax-confirmar')">Evento!</button> -->
        <button  class="btn        btn-success" (click)="goTo('#parallax-confirmar')">Evento!</button>
      </div>
    </div>

  </div>

  <!-- informacion -->
  <div class="row mt-3" id="info">
    <div class="col-12 col-md-6 text-center mt-5 ">
      <div class="row">
        <div class="col">
          <img src="../assets/icon/rings.svg" width="80px" height="80px" alt="">
          <h5>Civil</h5>
          <p class="m-4">La ceremonia es el <b>viernes 16 de noviembre</b> en el registro civil de Longchamps. Sólo
            tenés que tocar el botón para ver todos los detalles.</p>
        </div>
      </div>
      <div class="row">
        <div class="col align-bottom  ">
          <button class="btn btn-outline-success align-bottom" routerLink="/detalle/civil">Ver indicaciones</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 text-center mt-5 ">
      <div class="row">
        <div class="col">
          <!-- d-block d-sm-none oculta el html para resoluciones mayores a 576px -->
          <hr class="my mb-5 w-75 d-block d-sm-none">
          <img src="../assets/icon/cake.svg" width="80px" height="80px" alt="">
          <h5>Lunch</h5>
          <p class="m-4">El <b>Sábado 17</b> nos juntamos a picar algo... ¡Te esperamos temprano! Sólo tenés que
            tocar el botón para ver toda la información.</p>
        </div>
      </div>
      <div class="row">
        <div class="col  ">
          <button class="btn btn-outline-success"  routerLink="/detalle/evento">Ver indicaciones</button>
        </div>
      </div>
    </div>
  </div>

  <!-- confirmar -->
  <div class="parallax" id="parallax-confirmar">
    <div class="row text-center m-5">
      <div class="col-12 text-center mt-3">
        <h1><b>NO QUEREMOS REGALOS!</b></h1>
        <h4>Lo que le pedimos a los que asistan, es que nos ayuden pagando su menú. El lugar del lunch nos fijó un
          valor de <b>$300 por persona.</b>
          Los novios cubrimos todo lo demás. En el lugar encontrarás un buzón para dejar sobres.</h4>
          <button type="button" class="btn btn-success">Confirmar asistencia</button>
      </div>
    </div>
  </div>

  <div class="col-12 text-center mt-5">
    <h3>Te esperamos!</h3>
  </div>


  <footer id="footer">
    <div class="col-12 text-center">
      <h4 class="mt-5"><b>-Edita y Pablo-</b></h4>
      <h4><b>17/11/2018</b></h4>
    </div>
  </footer>

</form>